<link href="styles/style2.css" rel="stylesheet">

<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link disabled" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="">Job Search</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="/testimonial">Testimonials</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="/resources">Resources</a>
			</li>
		</ul>
		<div class="page-header">
			<h1>
				<center>KARJOUR </center>
			</h1>
			<h2>
				<center> JOB SEARCH </center>
			</h2>
			<h4>
				<center>
					Use the explore button below to search for the type of programs and frameworks that you know best,
					<br>This will return all of the available jobs that are best suited to ...<strong>YOUR
						SKILLSET</strong>
				</center>
			</h4>
		</div>
		<div class="container h-10">
			<div class="d-flex justify-content-center h-10">
				<form class="search-form">
					<div class="searchbar">
						<input class="search_input" type="text" name="" placeholder="Search...">

						<a href="#" class="search_icon"><i class="fas fa-search"><button type="submit"></button></i></a>
					</div>

				</form>


			</div>
		</div>

		{{#if jobs}}

		{{#each jobs }}
		<div class="jobPostsContainer">

			<ul>

				<p>{{text}}</p>
				<li>Company Name: {{companyName}}</li>
				<li><h5>Job Title: {{title}}</h5></li>
				<li>Description: {{description}}</li>
				<li>Culture: {{culture}}</li>
				<li>Location: {{location}}</li>
				<li>Salary: {{budget}}</li>
				<li>Email: {{contactEmail}}</li>
				<li>Technologies needed: {{technologies}}</li>

			</ul>
		</div>
				{{/each}}

		{{else}}
		<p>Sorry, no jobs match your search. Pleae search again</p>
		{{/if}}

		{{!-- 
		{{#unless jobs}}
		{{/unless}}
 --}}
		<script type="text/javascript" src="/js/jobs.js"></script>